<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>404 Page Title</title> 
  <!--pageMeta--> 
  <!-- Loading Bootstrap --> 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Loading Elements Styles --> 
  <link href="../css/style.css" rel="stylesheet" /> 
  <!-- Loading Font Styles --> 
  <link href="../css/iconfont-style.css" rel="stylesheet" /> 
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. --> 
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
  <!--headerIncludes--> 
 </head> 
 <body data-spy="scroll" data-target=".navMenuCollapse"> 
  <div id="wrap"> 
   <!-- 404 ERROR BLOCK --> 
   <section id="error-404" class="cover-bg no-sep screen-height" style="background-image:url(../images/bg51.jpg)"> 
    <div class="container"> 
     <div class="row"> 
      <div class="col-md-12"> 
       <h2 class="mega-title">4<i class="icon center-icon icon-compass2"></i>4</h2> 
       <h2><strong>It looks like you're lost.</strong></h2> 
       <h2 class="sep-bottom">The page you're looking for isn't here.</h2> 
       <a href="#" class="btn btn-lg btn-primary"><i class="icon icon-arrow-left"></i> Go back home</a> 
      </div> 
     </div> 
    </div> 
   </section> 
  </div> 
  <!-- /#wrap --> 
 </body>
</html>